.message {
    background-color: #fff;
    border-radius: 3px;
    margin-right: 15px;
    margin-top: 17px;
    padding: 20px 25px;
}

div.message:first-child {
    margin-top: 0;
}

.chatImg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.icon {
    text-align: center;
    font-size: 30px;
    padding-top: 13px;
    font-weight: 300;
}

.userContent {
    padding-left: 35px;
}

.userName {
    text-decoration: unset;
    color: rgba(0, 0, 0, 0.85);
    line-height: 18px;
    font-weight: 700;
    opacity: .7;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.messageText {
    width: 100%;
    word-break: break-all;
    line-height: 25px;
    margin-top: 3px;
    font-size: 15px;
}

.setBtn {
    letter-spacing: 1px;
    margin-right: 11px;
    cursor: pointer;
    width: 398px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
}

.mainBtn {
    border: 1px solid #1890ff;
    color: #ebe9ef;
    background-color: #1890ff;
    width: 400px;
}

.textarea {
    width: 100%;
    min-height: 127px;
    max-height: 127px;
    border-radius: 3px;
    border: 1px solid #d3d4d7;
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 16px;
    padding: 8px 15px;
}

::-webkit-scrollbar {
    width: .8em;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    /*border: 1px solid #1890ff;*/
    background-color: #fff;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #1890ff;
    border: 1px solid #1890ff;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    border-radius: 3px;
}