.form-control.error .input-error,
.form-control.error .textarea-error {
  border: 1px solid #f00;
}

.textarea-error,
.input-error {
  outline: none;
}

.form-control.error .text-error {
  color: #f00;
}
