.wrapper-user {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 17px;
  padding: 15px 25px;
}

.search-btn.big-btn {
  margin-right: 0;
  margin-top: 0;
  width: 234px;
}

.middle-btn {
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  letter-spacing: 1px;
  margin-top: 25px;
  text-align: center;
  width: 398px;
}

.action-btn {
  width: 100%;
}

.img-user {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.icon-user {
  font-size: 40px;
  padding-top: 22px;
}

.info-user {
  margin: auto 0;
  padding-left: 15px;
  vertical-align: middle;
}

.input-user {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 15px;
  width: 39%;
}

.form-user {
  margin-bottom: 25px;
}

.name-user {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 6px;
}

.location-user {
  font-size: 15px;
}
