.header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.wrapper-header {
  padding: 0 150px;
}

.img-header {
  height: 45px;
  margin-top: 10px;
  opacity: 0.95;
}

.wrapper-login {
  color: #ebe9ef;
  float: right;
  margin-top: -3px;
}

.item-login,
.logout-btn {
  color: #ebe9ef;
  font-size: 16px;
  font-weight: 500;
  text-decoration: unset;
}

.logout-btn {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.avatar {
  margin-right: 10px;
}
