.wrapper-profile {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 45px 55px;
  border-radius: 5px;
}

.wrapper-profile-info {
  padding-left: 15px;
}

.img-profile {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #1890ff;
}

.icon-profile {
  font-size: 200px;
  padding-top: 90px;
}

.set-photo-btn {
  width: 400px;
  position: relative;
  top: -26px;
  left: 7px;
  opacity: 0;
}

.main-btn {
  width: 400px;
  text-align: center;
  margin-top: 25px;
  padding-top: 5px;
}

.btn {
  border: 2px solid #1890ff;
  background-color: unset;
  color: #1890ff;
  width: 400px;
  margin-top: 12px;
}

.save-btn {
  padding-bottom: 15px;
}

.name-profile {
  margin-top: 0;
  margin-bottom: 17px;
  line-height: 35px;
  font-size: 35px;
  font-weight: 600;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.status {
  color: #1890ff;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
}

.input-status {
  letter-spacing: 1px;
  font-size: 22px;
  border: none;
  width: 415px;
  margin: 0 0 3px 0;
  padding: 0;
}

.textarea.textarea-profile {
  margin-top: 12px;
}

.input.input-profile {
  border: 1px solid #d3d4d7;
  margin-bottom: 5px;
}

.checkbox.checkbox-profile {
  margin-right: 10px;
  float: right;
  position: relative;
  top: -29px;
  left: -335px;
}

.description {
  font-size: 18px;
  margin-top: 15px;
}

.wrapper-profile-form {
  margin-top: 27px;
}

.wrapper-field {
  margin-top: 15px;
  font-size: 18px;
}

.item-field {
  font-size: 16px;
  margin-top: 10px;
}
