.app-wrapper {
  margin: 0 auto;
  width: 1200px;
}

.wrapper-content {
  min-height: 100vh;
  padding: 94px 200px;
}

.menu {
  height: 100%;
}

.content-page {
  padding: 0 24px;
}

.avatar {
  background-color: #1890ff;
}

.icon {
  font-weight: 300;
  text-align: center;
}

.big-btn {
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  letter-spacing: 1px;
  margin-right: 11px;
  margin-top: 10px;
  text-align: center;
  width: 398px;
}

.main-btn,
.action-btn {
  background-color: #1890ff;
  border: 1px solid #1890ff;
  color: #ebe9ef;
  cursor: pointer;
  height: 40px;
}

.input {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  padding: 8px 15px;
  width: 100%;
}

.textarea {
  border: 1px solid #d3d4d7;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 25px;
  max-height: 127px;
  min-height: 127px;
  padding: 8px 15px;
  width: 100%;
}

.checkbox {
  border-radius: 3px;
  height: 20px;
  margin-top: 6px;
  width: 20px;
}

.form-summary-error {
  border: 1px solid #f00;
  color: #f00;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

::-webkit-scrollbar {
  border-radius: 3px;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 3px;
}

* {
  outline: none;
}
